section.vbox
  header.header.bg-light.dker
    p Welcome to our app

  section.scrollable.wrapper
    div.row
      div.col-lg-8
        section.panel
          div#form-wizard.wizard.clearfix
            ul.steps
              li.active
                span.badge.badge-info 1
              li
                span.badge.badge-info 2


