section.vbox
  header.header.bg-light.dker
    p Welcome to our DjangoDash-2013 app

  section.scrollable.wrapper
    div.row
      div.col-lg-8
        section.panel
          div.panel-body Main page
