section.vbox
  header.header.bg-light.dker
    div.pull-right.m-t-sm
      div.btn-group
        button.btn.btn-white(type='button', ng-model='listView', btn-radio="'table'")
          i.icon-table
        button.btn.btn-white(type='button', ng-model='listView', btn-radio="'list'")
          i.icon-th-list
    p Manage your wishes, don't be shy to add more!

  section.scrollable.wrapper

    div.row

      //- Table view
      div.col-lg-10(ng-if='listView == "table"')
        div.panel
          header.panel-heading
            span.h4.m-t-none Your wishes
            span.badge.bg-info.m-l {{ wishes.length }}

          div.table-responsive
            table.table.table-striped.b-t.text-sm.m-b-none
              thead
                tr
                  th Title
                  th.th-sortable Created
                  th(width='40') Action
              tbody
                tr.text-lg(ng-repeat='wish in wishes')
                  td {{ wish.title }}
                  td {{ wish.created | moment }}
                  td
                    div.btn-group
                      a(href='').dropdown-toggle
                        i.icon-pencil
                      ul.dropdown-menu.pull-right.text-right
                        li
                          a(href='', ng-click='remove($index, wish)') Remove
                            i.icon-trash.m-l-sm
                        li
                          a(href='', ng-click='edit()') Edit
                            i.icon-edit.m-l-sm

      //- List view
      div.col-lg-10(ng-if='listView == "list"')
        section.panel.portlet-item.list-view
          header.panel-heading
            span.h4 Your wishes
            span.badge.bg-info.m-l {{ wishes.length }}

          section.panel-body
            article.media.clearfix(ng-repeat-start='wish in wishes')
              div.pull-left
                img.img-full.list-image(ng-src='{{ wish.imageUrl || "/images/gift.png" }}')

              div.pull-right.media-xs.text-right.text-muted
                strong.h4 {{ wish.created | moment }}
                br
                a.text-warning.m-t.dropdown-toggle.inline(href='')
                  i.icon-circle
                ul.dropdown-menu.pull-right.text-right
                  li
                    a(href='', ng-click='remove($index, wish)') Remove
                      i.icon-trash.m-l-sm
                  li
                    a(href='', ng-click='edit()') Edit
                      i.icon-edit.m-l-sm

              div.media-body
                a.h4(ng-href='wish.url') {{ wish.title }}
                small.block.m-t-xs {{ wish.description }}
                em.text-xs Created
                  span.text-danger.m-l-sm {{ wish.created }}
            div.line.pull-in(ng-repeat-end)


