<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All My Wishes</title>
    <meta name="description" content="social, wish, list, wishlist, all my wishes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/screen.css">
    <!-- endbuild -->
  </head>

  <body ng-app="frontendApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <section class="hbox stretch">
      <aside id="nav" class="bg-dark aside-md" ng-class="{'nav-vertical': navVert}" ng-controller="AsideCtrl">
        <section class="vbox">
          <header class="nav-bar dker">
            <a class="btn btn-link visible-xs">
              <i class="icon-reorder"></i>
            </a>
            <a ng-href="#/account/" class="nav-brand">I Wish... {{ asideShown }}</a>
            <a class="btn btn-link visible-xs">
              <i class="icon-comment-alt"></i>
            </a>
          </header>
          <section class="w-f">
            <div class="lt nav-user hidden-xs pos-rlt">
              <div class="nav-avatar pos-rlt">
                <a href="#" class="thumb-sm avatar animated rollIn">
                  <img src="/images/face.jpeg" alt="FACE" />
                  <span class="caret caret-white"></span>
                  <a ng-click="login()">YEBASH</a>
                </a>
              </div>
            </div>
            <nav class="nav-primary hidden-xs">
              <ul class="nav">
                <li>
                  <a href="#">
                    <i class="icon-eye-open"></i>
                    <span>Discover</span>
                  </a>
                </li>
              </ul>
            </nav>
          </section>
          <footer class='footer bg-gradient hidden-xs'>
            <a href="" ng-click='navVert = !navVert' class="btn btn-sm btn-link m-l-n-sm">
              <i class="icon-reorder"></i>
            </a>
          </footer>
        </section>
      </aside>
      <section class='content' ng-view=""></section>
    </section>

    <div class="modal in">

    </div>

    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/services/account.js"></script>
    <script src="scripts/controllers/aside.js"></script>
    <!-- endbuild -->
</body>
</html>
