<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All My Wishes</title>
    <meta name="description" content="social, wish, list, wishlist, all my wishes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- build:css(.tmp) styles/screen.css -->
    <link rel="stylesheet" href="/styles/screen.css">
    <!-- endbuild -->
  </head>

  <body ng-app="frontendApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="/bower_components/es5-shim/es5-shim.js"></script>
      <script src="/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <section ng-if='account.isAuthenticated' class="hbox stretch">
      <aside id="nav" class="bg-dark aside-md" ng-class="{'nav-vertical': navVert}" ng-controller="AsideCtrl">
        <section class="vbox">
          <header class="nav-bar dker">
            <a class="btn btn-link visible-xs">
              <i class="icon-reorder"></i>
            </a>
            <a ng-href="/" class="nav-brand">I Wish...</a>
            <a class="btn btn-link visible-xs">
              <i class="icon-comment-alt"></i>
            </a>
          </header>
          <section class="w-f">
            <div class="lt nav-user hidden-xs pos-rlt">
              <div class="nav-avatar pos-rlt">
                <a ng-if='account.isAuthenticated' href="/" class="thumb-sm avatar animated rollIn">
                  <img ng-src="{{ account.image }}" alt="FACE" />
                </a>
              </div>
            </div>
            <nav class="nav-primary hidden-xs">
              <ul class="nav">
                <li ng-repeat='pane in panes' ng-class='{active:pane.selected}'>
                  <a href="/" ng-click="select(pane)" ng-href="{{ pane.href }}">
                    <i class='{{ pane.icon }}'></i>
                    {{ pane.text }}
                  </a>
                </li>
              </ul>
            </nav>
          </section>
          <footer class='footer bg-gradient hidden-xs'>
            <a href="" ng-click='logout()' class="btn btn-sm btn-link m-r-n-xs pull-right" title="logout">
              <i class="icon-off"></i>
            </a>
            <a href="" ng-click='navVert = !navVert' class="btn btn-sm btn-link m-l-n-sm">
              <i class="icon-reorder"></i>
            </a>
          </footer>
        </section>
      </aside>
      <section class='content' ng-view=""></section>
    </section>

    <div ng-if='!account.isAuthenticated' class="modal in" style='display: block;' ng-controller='LoginCtrl'>
      <div class="modal-over">
        <div class="modal-center animated flipInX">
          <div class="clear">
            <a href="" class="btn btn-lg btn-info" ng-click='login()'>
              <i class="icon-facebook"></i>
              LOGIN
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>

    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular-easyfb/angular-easyfb.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/restangular/dist/restangular.min.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/services/account.js"></script>
    <script src="/scripts/controllers/aside.js"></script>
    <script src="/scripts/controllers/login.js"></script>
    <script src="/scripts/controllers/item.js"></script>
    <script src="/scripts/services/underscore.js"></script>
    <script src="/scripts/services/validImg.js"></script>
    <script src="/scripts/controllers/wishes.js"></script>
    <script src="/scripts/services/wish.js"></script>
    <script src="/scripts/controllers/wishDetails.js"></script>
    <script src="/scripts/controllers/account.js"></script>
    <script src="/scripts/filters/moment.js"></script>
    <script src="/scripts/controllers/myWishDetails.js"></script>
    <!-- endbuild -->
</body>
</html>
